<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta http-equiv="Content-Style-Type" content="text/css"/>
        <meta name="Generator" content="JohnCMS, http://johncms.com"/>
        <meta name="keywords" content="Game Online Hot"/>
        <meta name="description" content="Game online vteen.vn"/>
        <link rel="stylesheet" href="http://localhost/Gom-wapsite/theme/default/style.css" type="text/css"/>
        <link rel="shortcut icon" href="http://localhost/Gom-wapsite/favicon.ico"/>
        <link rel="alternate" type="application/rss+xml" title="RSS | Trang web Tin tức" href="http://localhost/Gom-wapsite/rss/rss.php"/>
        <title>&copy; Copyright  2012 vteen.vn</title>
    </head>
    <body>
        {% block content %}
        <h1>{{ hello }}</h1>
        {% endblock %}
        <table width="100%" cellspacing="0" border="0" id="table1">
            <tr class="header">
                <td colspan="2"><a href="http://localhost/Gom-wapsite"><img border="0" style="margin-top: 8px; border: none;" alt="logo" src="http://localhost/Gom-wapsite/theme/default/images/logo.png"/></a></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2" style="border-top: 1px solid #ffffff; padding: 0;"><div class="wrap">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td class="tab-selected"><a href="#">Thể loại 1</a></td>
                                <td class="tab"><a href="#">Thể loại 2</a></td>
                                <td class="tab"><a href="#">Top tải</a></td>
                                <td class="tab"><a href="#">Sự kiện hot</a></td>
                            </tr>
                        </table>
                    </div></td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2"><form method="get" action="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=search">
                        <table width="100%">
                            <tr>
                                <td width="20%">Tên game</td>
                                <td width="60%"><input type="hidden" id="act" name="act" value="search"/>
                                    <input type="text" name="app_game_name" id="app_game_name" value="" style="width: 90%; border: 2px solid #F79646;"/></td>
                                <td width="20%"><input type="submit" name="btn_search" id="btn_search" value="Tìm kiếm" class="button"/></td>
                            </tr>
                        </table>
                    </form></td>
            </tr>
            <tr>
                <td colspan="2"><table width="100%">
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td width="50%" align="center" class="category-right-noborder"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=category&amp;id=2">Top 20 Game bắn súng chiến tranh hiện đại</a></td>
                            <td width="50%" align="center" class="category-left-noborder"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=category&amp;id=1">Top 10 Game bắn súng hay nhất</a></td>
                        </tr>
                        <tr>
                            <td width="50%" align="center" class="category-right"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=category&amp;id=3">Top 5 các ứng dụng chat miễn phí</a></td>
                            <td width="50%" align="center" class="category-left"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=category&amp;id=4">Top 5 các ứng dụng SMS và VoiceIP miễn phí</a></td>
                        </tr>
                        <tr>
                            <td width="50%" align="center" class="category-right"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=category&amp;id=5">Các ứng dụng về chat</a></td>
                            <td width="50%" align="center" class="category-left"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=category&amp;id=6">Tin các game mới</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </table></td>
            </tr>
            <tr height="8px;">
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="2" class="danhmuc">Các ứng dụng về chat</td>
            </tr>
            <tr height="8px;">
                <td colspan="2"></td>
            </tr>
            <tr>
                <td width="30%"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=detail&amp;id=39"><img src="http://localhost/Gom-wapsite/images/Yahoo smile/Koala_1364060015.jpg"/></a></td>
                <td width="70%" valign="top">Yahoo smile<br/>
                    Yahoo smile/yahoosmile.jad<br/>
                    Phần mềm chat yahoo, miễn phí tiết kiệm dung lượng<br/>
                    <div class="chitiet"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=detail&amp;id=39">Chi tiết</a></div></td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr>
                <td width="30%"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=detail&amp;id=44"><img src="http://localhost/Gom-wapsite/images/gameapp_files/Clash of Clans/kun chanh 2.jpg"/></a></td>
                <td width="70%" valign="top">Clash of Clans<br/>
                    <br/>
                    Clash of Clans<br/>
                    <div class="chitiet"><a href="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=detail&amp;id=44">Chi tiết</a></div></td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr>
                <td colspan="2">Đến trang 1 </td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr>
                <td colspan="2"><form method="get" action="http://localhost/Gom-wapsite/gamestore/index.php?src=&amp;act=advanced">
                        <table width="100%">
                            <tr>
                                <td colspan="2"><span style="font-size: medium; color:red; font-weight: bold;">Tìm kiếm</span></td>
                            </tr>
                            <tr>
                                <td>Tên game</td>
                                <td><input type="hidden" name="act" id="act" value="advanced"/>
                                    <input type="text" name="advanced_name" id="advanced_name" value="" style="width: 88%; border: 2px solid #F79646;"/></td>
                            </tr>
                            <tr>
                                <td>Danh mục</td>
                                <td><select name="advanced_cate" id="advanced_cate" style="width: 90%; border: 2px solid #F79646;">
                                        <option>Tất cả</option>
                                        <option>Danh mục 1</option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td>Thể loại</td>
                                <td><select name="advanced_type" id="advanced_type" style="width: 90%; border: 2px solid #F79646;">
                                        <option>Tất cả</option>
                                        <option>Webgame</option>
                                    </select></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><input type="submit" value="Tìm kiếm" id="search" name="search" class="button"/></td>
                            </tr>
                        </table>
                    </form></td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr>
                <td colspan="2"><table width="100%">
                        <tr>
                            <td align="center"><a href="#" style="">Top hot</a></td>
                            <td align="center"><a href="#">Top tải</a></td>
                            <td align="center"><a href="#">Sự kiện hot</a></td>
                            <td align="center"><a href="#">Diễn đàn</a></td>
                        </tr>
                    </table></td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr bgcolor="#D9D9D9">
                <td colspan="2" style="font-size: small; text-align: center"><span style="color:red; font-weight: bold;">&copy; Copyright 2013 Vteen.vn</span></td>
            </tr>
        </table>
    </body>
</html>